@import url('https://fonts.googleapis.com/css2?family-fira+Sans:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s linear;
	font-family: 'fira sans',sans-serif;
}
html{
	scroll-behavior: smooth;
	scroll-padding-top: 0.5rem;
	font-size: 66%;
}
.btn{
	display: inline-block;
	padding: 0.8rem 3.8rem;
	font-size: 1.8rem;
	border: 0.1rem solid skyblue;
	outline: 0;
	background: skyblue;
	border-radius: 1rem;
	cursor: pointer;
	text-align: center;
	color: white;
}
.btn:hover{
	background: none;
}
.about .box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
.about .box .image img{
	position: relative;
	width: 500px;
	height: 500px;
}
.about .box .content{
	position: absolute;
	left: 50%;
	right: 30px;
	top: 1150px;
	font-size: 2.5rem;

}
.about .heading{
	text-align: center;
	font-size: 3.5rem;

}
header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3%;
	background: rgba(10, 10, 9, 0.6);
	z-index: 1001;
}
header .logo{
	font-size: 2rem;
	color: white;
	padding: 0.4rem;
}
header .navbar a{
	margin: 0 0.8rem;
	font-size: 1.7rem;
	color: white;
	padding: 0.4rem;
}
header .navbar a:hover,
header .fa-bars:hover{
	color: skyblue;
}
header .fa-bars{
	font-size: 1.9rem;
	color: white;
	cursor: pointer;
	display: none;
}
.home home-slide .box{
	position: relative;
}
.home .home-slide .box::before{
	contain: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.home .home-slide .box .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: white;
}
.home .home-slide .box .content h3{
	font-size: 4rem;
}
.home .home-slide .box .content p{
	font-size: 2.5rem;
	margin: 1rem 0;
}
.heading{
	text-decoration: underline solid skyblue 2px;
}
.services{
	background: black;
}
.services .heading{
	color: white;
	text-align: center;
	font-size: 2.5rem;
}
.services .row{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
	gap: 0.8rem;
	margin-top: 5rem;
	color: white;
	text-align: center;
	font-size: 2.2rem;


}
.services .row ol{
	list-style: none;
}
.services .row.box{
	text-align: center;

}
.projects .row{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
	gap: 1rem;
	margin: 2rem auto;
	width: 90%;
}
.projects .row .box{
	position: relative;
	overflow: hidden;
}
.projects .row .box:hover img{
	transform: translateY(-100%);
}
.projects .row .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.projects .row .box:hover .content{
	transform: translateY(0);
}
.projects .row .box .content{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	padding: 3rem 2rem;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	padding-top: 2.5rem;
}
.projects .row .box .content h2{
	font-size: 2.5rem;
	color: skyblue;
	margin-top: 4rem;
}
.projects .row .box .content p{
	padding: 1rem 0;
	font-size: 1.8rem;
	line-height: 1;
	color: white;
	margin-bottom: 0;
	color: white;
}
.projects .heading{
	text-align: center;
	font-size: 2.6rem;
}






.mission{
	position: absolute;
	top: 3700px;
}
.mission .heading{
	text-align: center;
	font-size: 2.6rem;
}
.mission .row .box{
	font-size: 2.2rem;
	text-align: center;
	text-align: center;
}







@media(max-width:750px){
	header .fa-bars{
		display: block;
	}
	header .navbar{
		position: fixed;
		top: 1000rem;
		left: 0;
		text-align: center;
		background: rgba(10, 10, 9, 0.6);
	}
	header .navbar.active{
		top: 7.5rem;
	}
	header .navbar a{
		display: block;
		margin: 0.3rem 0;
		padding: 1rem;
		font-size: 2.6rem;
		color: white;
	}
	header .navbar a:hover{
		background: white;
	}
}